  <!-- 
  Author: Sydney Stalker
  Class: CST 336 - Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
  File: footer.ejs 
  -->

<footer>
  <div class="footer-content">
    <img src="/img/csumb_logo.png" alt="CSUMB Logo" class="footer-logo">

    <div class="footer-text">
      <p>© 2025 Sydney Stalker, Thomas Vandergroen, Brandon Evangelista</p>
      <p>CST 336 – Internet Programming</p>
    </div>
  </div>
</footer>
