  <!-- 
  Author: Sydney Stalker
  Class: CST 336 - Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
  File: header.ejs 
  -->
  
<header class="site-header">
  <div class="header-content">

    <h1 class="site-title">StudySmart</h1>

    <%- include('nav'); %>

  </div>
</header>
