<!-- 
  Author: Sydney Stalker, Thomas Vandergroen and Brandon Evangelista
  Class: CST 336 – Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
  Note: HTML/EJS structure created by Sydney Stalker
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySmart</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('../partials/header'); %>

    <main class="container">
        <h1>Edit Subject</h1>

        <div class="card">
            <p>This is a placeholder for this page's content.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>
