<!--  
  Author: Thomas Vandergroen
  Class: CST 336 – Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySmart – Add Subject</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('../partials/header'); %>

    <main class="subjects-main">
        <section class="subjects-hero container">
            <h1 class="subjects-title">Add New Subject</h1>
        </section>
        <form class="subject-form" action="/subjects/new" method="POST">
            <div class="subject-form-header">
                <div>
                    <span>Category:</span>
                    <select name="category" required>
                        <option value="English">English</option>
                        <option value="Math">Math</option>
                        <option value="Science">Science</option>
                        <option value="Social Studies">Social Studies</option>
                        <option value="Physical Education">Physical Ed</option>
                        <option value="Art">Art</option>
                        <option value="Technical">Technical</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div><span>Subject Name:</span> <input type="text" name="subjectName" required></div>
                <div><span>End Date:</span> <input type="date" name="endDate" required></div>
            </div>
            <div class="subject-form-body">
                <span>Description:</span> <textarea name="subjectDescription" required></textarea>
            </div>
            <div class="subject-form-footer">
                <button>Add Subject</button>
                <span class="errorMessageDisplay">
                    <% if (typeof session !== 'undefined' && session.errorMessage) { %>
                        <%= session.errorMessage %>
                        <% session.errorMessage = null %>
                    <% } %>
                </span>
            </div>
        </form>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>
