<!--  
  Author: Sydney Stalker, Thomas Vandergroen and Brandon Evangelista
  Class: CST 336 – Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySmart – Flashcards</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('../partials/header'); %>

    <main class="flashcards-main">

        <section class="flashcards-hero container">

            <!-- Page title -->
            <h1 class="flashcards-title">Flashcards</h1>

            <!--  -->
            

            <!-- Add Flashcard button -->
            <div class="flashcards-add-wrapper">
                <a href="/flashcards/new" class="btn btn-primary">
                    Add Flashcard
                </a>
            </div>

        </section>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>
